# gitignore file 

# ignore folders in link with the pyinstaller process
/dist/Dommino.exe/
/build/
#/Dommino.spec/
#documentation process
/doc/
#Enter the name of your Python virtual environment
/dommino_env/
#obsolete or inactive files
/obsolete/
#/other/

#log
/phidgetlog.log/

#compiled python files

__pycache__/
*.py[cod]
*.cpython-313.pyc
*.cpython-39.pyc
*.pyc

/windows/__pycache__/
/subsystems/__pycache__/
/graphic/__pycache__/
/graphic/windows/__pycache__/
/subsystems/windows/__pycache__/