# gitignore file 

# ignore folders in link with the pyinstaller process
/dist/
/build/
/Dommino.spec/
#documentation process
/doc/
#python local installation
/dommino_env/
#obsolete or inactive files
/obsolete/

#log
/phidgetlog.log/