# gitignore file 

# ignore folders in link with the pyinstaller process
/dist/
/build/
/Dommino.spec/
#documentation process
/doc/
#python local installation
/laulau_env/
/dommino_env/
#obsolete or inactive files
/obsolete/

#log
/phidgetlog.log/

#compiled python files
<<<<<<<<< Temporary merge branch 1
__pycache__/
windows/__pycache__/
subsystems/__pycache__/
graphic/__pycache__/
graphic/windows/__pycache__/
subsystems/windows/__pycache__/
=========

__pycache__/*
*.py[cod]
*.cpython-313.pyc
*.cpython-39.pyc
*.pyc

/windows/__pycache__/
/subsystems/__pycache__/
/graphic/__pycache__/
/graphic/windows/__pycache__/
/subsystems/windows/__pycache__/
